# IntelliJ IDEA
.idea
*.iml

# Gradle
.gradle
gradlew.bat
build
local.properties
reports

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties

# Steve Jobs
.DS_Store

# Vim swap files
*.swp
